
<div class="container">
    <h2> Login! </h2>

    <div class="alert alert-warning" *ngIf='invalidLogin'>
        {{errorMessage}}
    </div>

    <div class="table table-responsive" >
        
            <form name="login">
                <fieldset>
                    <table>
        
                        <tbody>
                            <tr>
                                <td><label for="usernmae" class="control-label">Username</label></td>
                                <td><input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Enter username" required="required"></td>
                            </tr>
        
                            <tr>
                                <td><label for="password" class="control-label">Password</label></td>
                                <td><input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter password" required="required"></td>
                            </tr>
                        </tbody>
                    </table>
        
                    <div class="btn">
                        <button type="button" (click)=onLoginSubmit() class="btn">Login</button>
                    </div>
        
                </fieldset>
            </form>
     </div>       
                
</div>
     
       